@import './variables.less';
@import './components/layout.less';
@import './components/typography.less';
@import './neuromorphism.less';

@base-color: #000;

body {
    font-family: sans-serif;
    color: @base-color;
}
